<section class="about section bg-light">
	<div class="container">
		<h2>Last Achievements</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics
        </p>
		<hr class="mt-5">
    </div>
<section>

<section class="about pricing-table section-card bg-gray">
	<div class="container pricing-item p-0 ">
		<div class="row align-items-center card-body">
			<div class="col-lg-6">
				<div class="about-img">
					<img class="img-fluid" src="img/paint-1.jpg">
				</div>
			</div>
			<div class="col-lg-6 mt-lg-0 ">
				<div class="pl-0 pl-lg-4 animated fadeInUp">
					<h2>We strive to be the best and <br> make awesome work.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim, accusantium repellat ex autem numquam
						iure officiis facere vitae itaque.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem, ea fuga est.</p>
					<a href="" class="btn btn-small mt-0">View paint</a>
				</div>
			</div>
		</div>
    </div>
<section>


<section class="about pricing-table section-card bg-gray">
	<div class="container pricing-item p-0">
		<div class="row align-items-center card-body">
			<div class="col-lg-6">
				<div class="about-img">
					<img class="img-fluid " src="img/paint-1.jpg">
				</div>
			</div>
			<div class="col-lg-6  mt-lg-0">
				<div class="pl-0 pl-lg-4 animated fadeInUp">
					<h2>We strive to be the best and <br> make awesome work.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim, accusantium repellat ex autem numquam
						iure officiis facere vitae itaque.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem, ea fuga est
						velit nulla culpa modi quis iste tempora non, suscipit repellendus labore voluptatem dicta amet?</p>
					<a href="" class="btn btn-small">View paint</a>
				</div>
			</div>
		</div>
    </div>
<section>

<section class="about pricing-table section-card bg-gray">
	<div class="container pricing-item p-0">
		<div class="row align-items-center card-body">
			<div class="col-lg-6">
				<div class="about-img">
					<img class="img-fluid " src="img/paint-1.jpg">
				</div>
			</div>
			<div class="col-lg-6  mt-lg-0">
				<div class="pl-0 pl-lg-4 animated fadeInUp">
					<h2>We strive to be the best and <br> make awesome work.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim, accusantium repellat ex autem numquam
						iure officiis facere vitae itaque.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam qui vel cupiditate exercitationem, ea fuga est
						velit nulla culpa modi quis iste tempora non, suscipit repellendus labore voluptatem dicta amet?</p>
					<a href="" class="btn btn-small">View paint</a>
				</div>
			</div>
		</div>
    </div>
<section>