<section class="about section bg-light">
	<div class="container">
		<h2>Latest news</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics
        </p>
        <hr class="mt-5">
    </div>
    
<section>


<div class="page-wrapper about pricing-table section-card bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="post pricing-item p-4 text-left">
					<h3 class="post-title m-0"><a href="">How To Wear Bright Shoes</a></h3>
					<div class="post-meta">
						<ul>
							<li>
								<i class="ion-calendar"></i> 20, MAR 2020
							</li>
							<li>
								<i class="ion-android-people"></i> POSTED BY ADMIN
							</li>
							<li>
								<a href="blog-grid.html"><i class="ion-pricetags"></i> LIFESTYLE</a>,<a href="blog-left-sidebar.html"> TRAVEL</a>, <a href="blog-right-sidebar.html">FASHION</a>
							</li>

						</ul>
					</div>
					<div class="post-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit vitae placeat ad architecto nostrum
							asperiores vel aperiam, veniam eum nulla. Maxime cum magnam, adipisci architecto quibusdam cumque veniam
							fugiat quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vitae ab doloremque accusamus
							sit, eos dolorum officiis a perspiciatis aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. Quod, facere. </p>
						<a href="blog-single.html" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>

            <div class="col-md-4">
				<div class="post pricing-item p-4 text-left">
					<h3 class="post-title m-0"><a href="">How To Wear Bright Shoes</a></h3>
					<div class="post-meta">
						<ul>
							<li>
								<i class="ion-calendar"></i> 20, MAR 2020
							</li>
							<li>
								<i class="ion-android-people"></i> POSTED BY ADMIN
							</li>
							<li>
								<a href="blog-grid.html"><i class="ion-pricetags"></i> LIFESTYLE</a>,<a href="blog-left-sidebar.html"> TRAVEL</a>, <a href="blog-right-sidebar.html">FASHION</a>
							</li>

						</ul>
					</div>
					<div class="post-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit vitae placeat ad architecto nostrum
							asperiores vel aperiam, veniam eum nulla. Maxime cum magnam, adipisci architecto quibusdam cumque veniam
							fugiat quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vitae ab doloremque accusamus
							sit, eos dolorum officiis a perspiciatis aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. Quod, facere. </p>
						<a href="blog-single.html" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>

            <div class="col-md-4">
				<div class="post pricing-item p-4 text-left">
					<h3 class="post-title m-0"><a href="">How To Wear Bright Shoes</a></h3>
					<div class="post-meta">
						<ul>
							<li>
								<i class="ion-calendar"></i> 20, MAR 2020
							</li>
							<li>
								<i class="ion-android-people"></i> POSTED BY ADMIN
							</li>
							<li>
								<a href="blog-grid.html"><i class="ion-pricetags"></i> LIFESTYLE</a>,<a href="blog-left-sidebar.html"> TRAVEL</a>, <a href="blog-right-sidebar.html">FASHION</a>
							</li>

						</ul>
					</div>
					<div class="post-content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit vitae placeat ad architecto nostrum
							asperiores vel aperiam, veniam eum nulla. Maxime cum magnam, adipisci architecto quibusdam cumque veniam
							fugiat quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vitae ab doloremque accusamus
							sit, eos dolorum officiis a perspiciatis aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing
							elit. Quod, facere. </p>
						<a href="blog-single.html" class="btn btn-main">Read More</a>
					</div>
				</div>
			</div>
		</div>


		<nav aria-label="Page navigation example">
			<ul class="pagination post-pagination justify-content-center">
				<li class="page-item"><a class="page-link" href="blog-grid.html">Prev</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">1</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">2</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">3</a></li>
				<li class="page-item"><a class="page-link" href="blog-grid.html">Next</a></li>
			</ul>
		</nav>
	</div>
</div>