<footer class="footer text-lg-left text-center ">
	<div class="container">
		<div class="row">
            <div class="col-md-6">
                <h2 class="text-dark">Professional painter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
			<div class="col-md-3">
				<div class="footer-hover">
                    <small class="text-dark text-bold">Menus</small>
					<ul>
						<li class="my-3"><a href="{{ path('app_achievements')  }}">Achievements</a></li>
						<li class="mb-3"><a href="{{ path('app_blogposts')  }}">News</a></li>
						<li class="mb-3"><a href="">Portfolio</a></li>
						<li class="mb-3"><a href="">About</a></li>
						<li class="mb-3"><a href="">Contact me</a></li>
					</ul>
				</div>

			</div>
            <div class="col-md-3">
				<div class="footer-hover">
                    <small class="text-dark text-bold">Legal Notices</small>
					<ul>
						<li class="mt-3"><a href="">GDPR</a></li>
					</ul>
				</div>

			</div>
		</div> 
        <p class="copyright mb-0 text-center mt-4">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed  with 💕 by Estimé Jésus.
        </p>
	</div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>